@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

*
{
    box-sizing: border-box;
}
html
{
    scroll-behavior:smooth;
    transform: scroll-behavior translateY(-100px);
}

:root
{
    --text-general-color: #ffffff;
    --text-active-color: #60ec94;
    --line-accent: #569ed1;
    --bg-darkest: #171c21;
    --bg-dark:#23252a;
    --bg-lighter: #303236;
    --bg-lightest: #3a3a3b;
    --shadow-effect: rgba(10, 26, 50, 0.626);
    --hover-color: #4b5a78bf;
    --green-accent: rgb(77, 200, 159);
    --section-height: 350px;
}

@keyframes color-me-in {
    0% 
    {
        background: var(--bg-darkest);
    }
    85% 
    {
        background: var(--bg-darkest);
    }
    90%
    {
        background:var(--bg-dark);
    }
    100% 
    {
        background: var(--bg-darkest);
    }
  }

body
{
    background-color: var(--bg-darkest);
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    animation: color-me-in 3.5s linear;
    
}

#btntop 
{
    visibility: hidden;
    width: 45px;
    height: 40px;
    bottom: 10px;
    right: 30%;
    z-index: 100;
    background-color: var(--bg-darkest);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
    border-radius: 10px;
    opacity: 0.8;
}

#btntop i
{
    position: fixed;
    font-size: 18px;
    border: 1px solid var(--line-accent);
    outline: none;
    background-color:transparent;
    color:var(--text-active-color);
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: 1s;
    opacity: 0.9;
}



.landing
{
    
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landing.hide
{
    visibility:collapse;
    transition: visibility 2s;
}



.icon
{
    height:160px;
    width: 160px;
    position: relative;
    scale: 1;
    transition: scale 2s ease;
}


.line
{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 4px;
    width: 120px;
    z-index: 0;
}

.line.one
{
    opacity: 1;
    background-color:var(--line-accent);
    top: 10px;
    margin: auto auto;
    transform: rotate(-315deg) translateX(60px) translateY(35px);
    transition: transform 2.5s ease-out;
}

.line.two
{
    background-color:var(--line-accent);
    opacity: 1;
    margin: auto auto;
    bottom: 10px;
    transform: rotate(315deg) translateX(60px) translateY(-35px) ;
    transition: transform 2.5s ease-out;
}



.icon .top
{
    text-align: center;
    color: var(--text-active-color);
    position: absolute;
    top: 30px;
    left:0;
    font-size: 30px;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 40px;
    opacity: 0;
    z-index: 1;
    transform: translateX(-200px);
}

.icon .top.show
{
    opacity: 1;
    z-index: 1;
    transform: translateX(58px);
    transition: opacity ease 5s, transform 2.5s ease ;
}



.icon .bottom
{
    text-align: center;
    color: var(--text-active-color);
    position: absolute;
    bottom: 30px;
    right: 0;
    font-size: 30px;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 40px;
    opacity: 0;
    z-index: 1;
    transform: translateX(200px);
} 

.icon .bottom.show
{
    opacity: 1;
    z-index: 1;
    transform: translateX(-60px);
    transition: opacity ease 5s, transform 2.5s ease ;
}


.icon.hide
{
    transform: rotate(370deg) scale(0.1);
    opacity: 0;
    transition: opacity 1.3s ease-out, transform 1.2s ease;
}

.home-container
{
    height: 0;
    width:0;
    visibility: hidden;
}


.home-container.show
{
    visibility:visible;
    height: 100%;
    width:90%;
    color: var(--text-general-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    justify-content: center;
    opacity: 1;
    overflow-x: hidden;
}

nav
{
    visibility: inherit;
    display: inline-block;
    position: sticky;
    height: 50px;
    z-index: 100;
    background-color: var(--bg-darkest);
}

nav ul
{
    list-style-type:none;
}



nav ul li
{
    display: inline;
    color: var(--text-general-color);
    padding: 5px 10px;
    /* transform: translateX(-150%);
    transition: transform 0.6ms ease-out; */
    text-transform: capitalize;
    font-size: 20px;
    border-right: 1px solid var(--line-accent);
}

nav ul li:last-child
{
    border-right: none;
}

nav ul li a
{
    text-decoration: none;
    color: var(--text-general-color);
    
}

/* Diffucult one - Target the icon */
nav ul li i::before
{
    font-size: 18px;
    margin-right: 10px;
}




.sections
{
    padding-top: 20%;
    height: 100%;
    width:70%;
    color: var(--text-general-color);
    flex-wrap: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:end;
}

.sections section
 {

    margin: 20px;  
    background-color: transparent;
    width: 650px;
    min-height:var(--section-height);
    color: #fff;
    border-radius: 5px;
    position: relative;
    transition: transform 1s ease-in;
    overflow:hidden;

}

section
{
    transform: translateX(-400%);
    transition: transform 1s ease-in;
    opacity: 0;

}



.sections section:nth-child(odd)
{
    transform: translateX(400%);
    transition: transform 1s ease-in;
    opacity: 0;
}



.sections section.show{
    transform: translateX(0);
    transition: transform 1s ease-in, opacity 1s ease;
    opacity: 1;
}

.all-projects section + .show
{
    transform: translateX(0);
}


.sections section h2
{
    position: absolute;
    font-size: 40px;
    letter-spacing: 2px;
    margin: 10px 10px;
    width: 100%;
}

.sections section h3
{
    position: absolute;
    font-size: 20px;
    top:50px;
    text-align: center;
    letter-spacing: 2px;
    margin: 10px 10px;
    width: 100%;
}

.sections section .text
{
    position: absolute;
    line-height: 1.5 rem;
    font-size: 16px; 
    letter-spacing: 1px;
    margin: 10px 10px;
    top: 80px;
    bottom: 10px;
    width: 100%;
}

.sections section .text p
{
    margin-top: 0px;
    margin-bottom: 10px;
}

.sections section .text span, .text-area span
{
    color: var(--text-active-color);
    text-decoration:underline var(--line-accent);
}

.sections section i
{
    margin-right: 5px;
}

.sections section ul
{
    letter-spacing: 1px;
    width: 100%;
    padding: 0;
    margin-left: 10px;
    z-index: 1;
}

.sections section li
{
    margin-bottom:15px;
    list-style: none;
}
.section-headline
{
    transform: translateX(-400%);
    transition: 1s;
}

.section-headline.show
{
    transform: translateX(0);
    transition: 1s;
}

.section-headline i
{
    font-size: 1.25rem;
}

.section-headline h2
{
    letter-spacing: 3px;
    width: 100%;
    align-items: center;
    text-align: center;
}

.section-headline p
{
    letter-spacing: 0.4px;
    width: 100%;
    align-items: center;
    text-align: center;
}


.section-stacks.show 
{
    display: flex;
    flex-flow: row wrap;
}


.section-stacks.show  li
{
    display: inline;
    width: 200px;
    float: left;

}

.section-heading
{
    height: fit-content;
    transform: translateX(400%);
}

.section-heading.show
{
    transform: translateX(0);
    transition: transform 1s ease;
}


.section-projects:nth-child(even)
{
    transform: translateX(400%);
    transition: transform 1s ease-in;
}

.section-projects.show
{
    transform: translateX(0);
    transition: transform 1s ease-in;
} 


.section-projects + .show
{
    transform: translateX(0%);
}




.section-projects.one.show h2
{
    right: -50%;
    left: 0;;
    text-align: center;
}

.section-work.show .text
{
    margin: 0;
}

.section-work.show  .text-area
{
    
    position: absolute;
    padding: 10px 10px;
    background-color: var(--bg-lightest);
    width: 420px;
    height: auto;
    right: 10px;
    top: 80px;
    border: 0;
    resize: none;
    font-family: inherit;
    font-size: 14px; 
    letter-spacing: 1px;
    text-align: left;
    margin: 10px 0px;
    color: white;
}


.section-work.show  textarea.show

{
    background-color: var(--bg-lighter);
    padding-left: 20px;
}

.section-work.show ul
{
    width: 200px;
    margin: 10px;

}

.section-work.show li
{
    padding: 20px 10px;
    

}

.section-work.show li.active
{
    color: #5eea92;
    border: 2px solid var(--line-accent);
    background-color: var(--bg-lighter);
    
}

.all-projects 
{
    font-family: inherit;
    font-style: inherit;
    font-display: inherit;
}

.all-projects h2
{
    font-size: 40px;
    letter-spacing: 2px;
    margin: 10px 10px;
    width: 100%;
    text-align: center;
}
.all-projects h3
{
    font-size: 25px;
    text-align: center;
}


.section-projects.show
{
    width: 800px;
}


.section-projects.show .text
{
    padding: 10px;
    top: 30px;
    width: 500px;
    height: min-content;
    background-color: var(--bg-lighter);
    opacity: 0.7;
    z-index: 1;
}

.section-projects.show .text .p1, .p2
{
    font-family: inherit;
    color: white;
}

.section-projects.show h3
{
    text-align: left;
    top: 0px;
}



/* .section-projects.show .p1, .p2
{
    position: absolute;
    line-height: 1.5 rem;
    font-size: 16px; 
    letter-spacing: 1px;
    margin: 10px 10px;
    top: 80px;
    width: 350px;
} */


.section-projects.show .img
{
    position: absolute;
    overflow: hidden;
    right: 25%;
    top: 40px;
    width: 55%;
    bottom: 10px;
    background-size: 100% auto;
    background-repeat:no-repeat;
    background-position: auto;
    z-index: 0;
}

.section-projects.show .img::before
{
    content: '';
    object-fit: contain;
    overflow: hidden;
    position: absolute;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height:100%;
    background-color: var(--hover-color);
}

.section-projects.one.show .img
{
    background:url(../images/BabyRules.PNG);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.section-projects.two.show .img
{
    background:url(../images/order.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.section-projects.three.show .img
{
    background:url(../images/monoprice.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.section-projects.show .img:hover:before
{
    display:none;
    
}



.tech-card
{
    position: absolute;
    top:5px;
    bottom: 5px;
    width: 100px;
    right: 5px;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    border: 1.5px solid var(--line-accent);
    background-color: rgba(61, 61, 61, 0.5)

}

.tech-card ul 
{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 10px;
}


.tech-card ul li
{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-icon
{
    font-size: 3em;
    align-self: center;
    justify-self: center;;
}
li.logo
{
    height: auto;
    width: 60px;
    align-self: center;
}

.logo.spring
{
    width: 80px;
    content:url(../images/spring-logo.svg);
    
}

.postgresql
{
    height: 50px;
    content:url(../images/elephant.png);
}

.ionic
{
    width: 80px;
    content:url(../images/Ionic_Logo.svg);
}

.sqlite
{
    content: url(../images/SQLite370.svg);
}

/* .section-contact .show
{
    transform: translateX(0);
}  */

.section-contact.show 
{
    transform: translateX(0%);
    transition: transform 1s ease;
}

.section-contact.show h2
{
    text-align: center;
}

.section-contact .text
{
    padding: 0 10px;
}

.btn-wrapper
{
    position: absolute;
    bottom: 100px;
    width: 100%;
}
.contact-btn
{

    margin:auto;
    display:block;
    padding: 10px 30px;
    bottom: 50px;

    height: auto;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid var(--line-accent);
    box-shadow: 4px 4px 10px var(--bg-lighter);
    font-family: inherit;
    font-size: 20px;
    color: white;
    cursor: pointer;
}




@media screen and (max-width: 760px)
{

    .sections
    {
        width:100%;
    }
    .sections section 
    {
        width:100%;
    
    }

    .section-projects.show
    {
        width: 100%;
    }

    .sections section h2
    {
        font-size: 35px;
    
    }

    .sections section p
    {
        
        width: 95%;
    }

    .section-projects
    {
        width: 100%;
    }

        .tech-card
    {
        width: 80px;
    }



    .section-projects.show .img
    {
        right: 10px;
        top: 10px;
        bottom: 10px;
        width: 70%;
        z-index: -1;
        border-radius: 10px;
    
    }
    

    .section-work.show  textarea 
    {
        top: 140px;
        left: 14px;
        width: 90%;

    }

    .section-work.show  .text-area
    {
        
        width: 300px;
        font-size: 14px; 

    }

    .all-projects
    {
        width: 100%;
    }
    nav ul li
    {
        font-size: 16px;
        padding: 5px;
    }

    nav ul li i::before
    {
        font-size: 14px;
        margin-right: 5px;
    }
}

@media screen and (max-width: 600px)
{
    body
    {
        min-width: 480px;
        width: 480px;
    }

    nav{
        position: relative;
        width: 180px;
        height: 150px;
    }
    nav ul
    {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        height: min-content;
        left: 10px;
        padding: 0;
        border-left: 1px solid var(--line-accent);
    }

    nav ul li
    {
        padding: 5px 20px;
        font-size: 18px;
        border-right: none;    
    }

    nav ul li i::before
    {

        font-size: 15px;
        margin-right: 15px;
      
    }

    .section-projects.show h3
    {
        text-align: center;
        margin: 0px auto;
        width: 85%;
        display: block;
    }

    .section-projects.show .text
    {
        font-size: 13px;
    }
    

    .section-headline.show p
    {
        position: absolute;
        top:140px;
    }

    .section-studied.show p
    {
        position: absolute;
        top:140px;
    }

    .section-stacks.show ul
    {
        position: absolute;
        top:10px;
    }

    .section-work.show .text
    {
        bottom: 0;
        left: 0;
        height: auto;
        overflow: hidden;
        padding-top: 20px;

    }
    .section-work.show  .text ul
    {

        width: 100%;
        font-size: 12px;
        height: 50px;
   
    }
    .section-work.show  .text li
    {
        display: inline;
        padding: 20px 10px;
    }

    .section-work.show  .text-area
    {
        position: absolute;
        top: 150px;
        left: 10px;
        width: 98%;
        height: fit-content;
        font-size: 11px;
        margin: 0px 10px;
        padding: 15px;

    }



    .all-projects
    {
        width: 100%;
    }

    .section-projects.show, .text
    {
        padding-left:10px ;
        width: 100%;
    }

    .section-projects.show .img
    {
        display: none;
    }

    .tech-card
    {
        position: absolute;
        height: 50px;
        width: 98%;
        top: 280px;
        left: 0;
    }


    
    .tech-card ul 
    {
        display: flex;
        flex-flow: row wrap;
        height: 100%;
        margin: 0;
        justify-content: center;
        align-content: center;

    }

    .tech-card ul li
    {
        padding: 5px 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
    }

    .card-icon
    {
        font-size: 2em;
    }
    li.logo
    {
        height: 90%;
        width: 80px;
        align-self: center;
    }
    .logo.postgresql
    {
        height: 50px;
    }

}

@media only screen and (max-width:450px)
{
    body
    {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        min-width: 360px;
        width: 95%;

    }

    .sections section h2
    {
        text-align: center;
        position: absolute;
        font-size: 20px;
        width: 100%;
    }

    .sections section h3
    {
        position: absolute;
        font-size: 15px;
        top:10px;
        text-align: center;
        letter-spacing: 2px;
        margin: 10px 10px;
        width: 100%;
    }

    .sections section .text
    {
        top: 40px;
        font-size: 12px; 
        padding: 10px;

    }

    .sections section .text p
    {
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .section-stacks.show ul
    {
        height: 100%;
        width: 100%;
    }

    .section-stacks.show ul li{
        width: 150px;
    }

    .section-work.show  .text-area
    {
        top:10px
    }

    .section-work.show  .text ul
    {

        width: 100%;
        font-size: 11px;
        height: 50px;
        display: flex;
        flex-wrap: wrap;
   
    }
    .section-work.show  .text li
    {
        width: 100px;
        padding: 10px 5px;
    }

    .section-work.show  .text-area
    {
        position: absolute;
        top: 130px;
        bottom: 0px;
        width: 97%;
        height: fit-content;
        font-size: 11px;
        margin: 0px 10px;
        padding: 10px;

    }

    .all-projects
    {
        width: 100%;
    }

    .section-projects.show
    {
        padding: 5px;
        width: 95%;
    }

    .section-projects.show .text
    {
        padding:10px ;
        width: 97%;
        margin: 0;
        font-size: 11px;
    }


    .section-projects.show .p1, .p2{
        margin: 0;
        width: 100%;
    }


    .section-projects.show .img
    {
        display: none;
    }

    .tech-card
    {
        position: absolute;
        height: 50px;
        right: 20px;
        left: 0;
        width: 92%;
        margin: 0;
        top: 280px;
        left: 0;
    }


    
    .tech-card ul 
    {
        display: flex;
        flex-flow: row wrap;
        height: 99%;
        margin: 0;
        justify-content: center;
        align-content: center;

    }

    .tech-card ul li
    {
        padding: 5px 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
    }

    .card-icon
    {
        font-size: 1.2em;
    }
    li.logo
    {
        height: 90%;
        width: 70px;
        align-self: center;
    }
    .logo.postgresql
    {
        height: 46px;
        width: 46px;
    } 
}